[submodule "ext/aws-sdk"]
	path = ext/aws-sdk
	url = https://github.com/VirgilSecurity/aws-iot-device-sdk-embedded-C
[submodule "ext/virgil-iot-sdk"]
	path = ext/virgil-iot-sdk
	url = https://github.com/VirgilSecurity/virgil-iot-sdk.git
[submodule "ext/freertos/freertos"]
	path = ext/freertos/freertos
	url = https://github.com/VirgilSecurity/freertos
