CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build.log
format_list.txt

.idea/
cmake-build-*/
build_debug_*/
debug/
release/
.settings/*
.depends_cache

.project
.cproject
.DS_Store

*.pyc
*.cbp
ap/bin/psram/fw.bin
.vscode/

build*/
ext/deps/*
