[submodule "ext/virgil-iot-sdk"]
	path = ext/virgil-iot-sdk
	url = https://github.com/VirgilSecurity/virgil-iot-sdk.git
[submodule "ext/virgil-crypto-c"]
	path = ext/virgil-crypto-c
	url = https://github.com/VirgilSecurity/virgil-crypto-c
[submodule "ext/aws-sdk/aws-iot-device-sdk-embedded-C"]
	path = ext/aws-sdk/aws-iot-device-sdk-embedded-C
	url = https://github.com/VirgilSecurity/aws-iot-device-sdk-embedded-C
